#menu {
  color: orange;
}

.portfolio-card {
  border-color: #c5aeae;
  border-width: 2px;
  border-radius: 5px;
}
.cardTitle {
  padding-top: 1em;
  padding-left: 2em;
}
#follow {
  margin-top: 2em;
  background-color: #283f60;
  /* background: linear-gradient(to right bottom, #283f60 50%, #284e51 50%); */
  padding-top: 5em;
  padding-bottom: 5em;
  /* Change the shadow property to alter the effect */
  /* box-shadow: inset 0px 0px 40px 40px #304a5e;  */
}
#about {
  margin: 8em 0;
  padding: 6em 0;
  background: url(../images/background.svg);
  position: relative;

  /*
    fixed = parallax
    scroll = normal
  */
  background-attachment: fixed;
}
.core-compentencies {
  margin-top: 100em;
}
.skills {
  width: 40%;
  margin: auto;
}
embed {
  width: 100%;
  height: 100%;
}
#svgator .row .col {
  display: flex;
  justify-content: center;
  align-items: center;
}
.animationBox {
  justify-content: center;
  width: 60%;
  height: 60%;
}
#portfolio {
  /* background: linear-gradient(to right bottom, #2f3441 50%, #212531 50%); */
  background: linear-gradient(#283f51, #1a1d27);
}
#contact {
  background: linear-gradient(#1a1d27, #283f51);
}
/* .row {
  background-color: rgb(31, 30, 30);
} */
.box {
  margin: 3em 0 3em 0;
}
/* .card-wrapper img {
  border-radius: 15px;
} */
table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
.table td {
  border-top: none;
}
#svgator {
  background: rgb(40, 63, 81);
}
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  /* color: #666; */
  color: rgb(187, 184, 184);
  background-color: #283f51;

  font-family: "Merienda", cursive;
}

.headTitle {
  margin-top: 2em;
}

.h-text {
  font-size: 2em;
}
.l-text {
  font-size: 1.5em;
}
.a-link {
  justify-self: baseline;
}
.img22 {
  width: 250px;
}
.text-padding {
  padding-top: 3em;
  margin: 1em;
  padding-right: 2.5em;
}
.picture-padding {
  padding-top: 3em;
}

.logo {
  border: 0.25em;
  width: 80px;
  height: auto;
  padding: 0.8em;
  margin: 0.25em;
}
/* img.logo {
  filter: drop-shadow(5px 10px 10px rgb(175, 40, 40));
} */

.icon-bar {
  z-index: 1000;
  position: fixed;
  top: 65%;
  left: 0%;
  /* bottom:0%;
    left:50%; */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: rgb(17, 16, 16);
  font-size: 20px;
}
.card-img-top {
  width: unset;
  flex: 1;
  width: 20em;
  height: 15em;
  border-color: red;
  border-width: 2px;
  border-radius: 5px;
}

.card {
  width: 20em;
  height: 32em;
  z-index: 100;
  border: unset;
  background-color: unset;
  display: -webkit-inline-flex;
  margin: 2em;
}
.card-body {
  margin-top: 1em;
  /* background-color: #172a44; */
  background-color: rgb(40, 63, 81);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 16em;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

/* section img,
.shadow {
  filter: drop-shadow(5px 10px 10px rgb(175, 40, 40));
} */
.section {
  text-align: center;
  padding: 30px 60px;
  /* margin-bottom: 4em; */
  margin-top: 2em;
}
.section-light {
  color: #666;
}
.section-dark {
  background-color: #c5aeae;
  color: white;
}

.linkSpace {
  padding: 1em;
}
.blue-text {
  color: rgb(52, 52, 248);
  font-size: 1.5em;
}
@media (max-width: 568px) {
  .pimg3 {
    background-attachment: scroll;
  }
  .l-text {
    font-size: 1em;
  }
  .h-text {
    font-size: 1.25em;
  }
  .img22 {
    width: 200px;
  }
  .icon-bar {
    display: none;
  }
  .text-padding {
    padding-top: 0em;
    margin: 1em;
  }
  .core {
    display: none;
  }
  .text-padding {
    padding-right: 0em;
  }
}
.scroll-arrow {
  color: rgb(195, 219, 235);
  opacity: 0;
  right: 2%;
  bottom: 0%;
  padding: 1em;
  position: fixed;
  z-index: 1;
}
/* input {
  background-color: rgb(54, 52, 52);
} */
