.skills {
  width: 40%;
  margin: auto;
}
table {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
.table td {
  border-top: none;
}
body {
  background: black;
}
body,
html {
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato", sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
  background-color: #fff;
  font-family: "Merienda", cursive;
}
.headTitle {
  margin-top: 2em;
}

#about {
  margin-top: 5em;
}
.h-text {
  font-size: 2em;
}
.l-text {
  font-size: 1.5em;
}

.img22 {
  width: 250px;
}
.text-padding {
  padding-top: 3em;
  margin: 1em;
  padding-right: 2.5em;
}
.picture-padding {
  padding-top: 3em;
}
.scroll-arrow {
  color: rgb(15, 59, 88);
  opacity: 0;
  right: 1%;
  bottom: 0%;
  padding: 1em;
  position: fixed;
  z-index: 1000;
}

.logo {
  border: 0.25em;
  width: 80px;
  height: auto;
  padding: 0.8em;
  margin: 0.25em;
}
img.logo {
  filter: drop-shadow(5px 10px 10px rgb(175, 40, 40));
}

.icon-bar {
  z-index: 1000;
  position: fixed;
  top: 65%;
  right: 0%;
  /* bottom:0%;
    left:50%; */
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

.card {
  z-index: 100;
  filter: drop-shadow(0 0 0.75rem crimson);
  display: -webkit-inline-flex;
  margin: 2em;
  justify-content: center;
  align-content: center;
  text-align: center;
  vertical-align: -webkit-baseline-middle;
}

.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3b5998;
  color: white;
}

.twitter {
  background: #55acee;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

section img,
.shadow {
  filter: drop-shadow(5px 10px 10px rgb(175, 40, 40));
}
.section {
  text-align: center;
  padding: 30px 60px;
  /* margin-bottom: 4em; */
  margin-top: 2em;
}
.section-light {
  background-color: #fff;
  color: #666;
}
.section-dark {
  background-color: #c5aeae;
  color: white;
}

.linkSpace {
  padding: 1em;
}
.blue-text {
  color: rgb(52, 52, 248);
  font-size: 1.5em;
}
@media (max-width: 568px) {
  .pimg3 {
    background-attachment: scroll;
  }
  .l-text {
    font-size: 1em;
  }
  .h-text {
    font-size: 1.25em;
  }
  .img22 {
    width: 200px;
  }
  .icon-bar {
    display: none;
  }
  .text-padding {
    padding-top: 0em;
    margin: 1em;
  }
  .core {
    display: none;
  }
  .text-padding {
    padding-right: 0em;
  }
}
